{% block head %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        li{
            display: inline;
            padding: 8%;
        }
        a{
            text-decoration: none;
            color: chocolate;
        }
        a:hover{
            color: orange;
        }

    </style>
</head>
<body style="background-color:aqua; font-size: xx-large;">
    <li><a href="/information/">information</a></li>

    <li><a href="/checkweather/">Check Weather</a></li>

    <li><a href="/logout/">logout</a></li>

    
    
</body>
</html>

{% endblock %}