
{% include 'index.html' %}
{% block head %}
{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body style="background-color: aqua;">
    <div>
        <center>
            <h1>Login</h1>
            <h2>{{msg}}</h2>
            <form action="/afterlogin/" method="POST">
                <label for="">EMAIL</label><br>
                <input type="email" name="email" id="" placeholder="EMAIL"><br>
                <br>
                <label for="">PASSWORD</label><br>
                <input type="password" name="password" id="" placeholder="PASSWORD"><br>
                <br>
                <button type="submit" href="/afterlogin/">submit</button><br>

            </form>
        </center>
    </div>
    
</body>
</html>